/*
******************
* =pics
******************
*/


body {
background-image: url(https://github.com/lilydia/WeActSociety/blob/gh-pages/images/bk.jpg);
background-repeat: no-repeat;
background-position: left top;
font-size:16px;
}

.banner{
	background: url(images/banner.jpg)  no-repeat;
	width: 960px;
	height: 333px;
}

.slogan{
	background: url(images/phrase.png)  no-repeat;
	width:1200px;
	height:100px;
	margin:50px 200px 10px 50px;
}

.pic{
	background: url(images/pic.jpg)  no-repeat;
	width: 343px;
	height: 270px;
}

.founder{
	background: url(founder.jpg)  no-repeat;
	width: 250px;
	height: 300px;
}

header h1 {
	margin:10px 10px 10px;
	background: url(logo.png) no-repeat;
	text-indent:-999999px;
	width: 400px;
	height: 55px;
}



/*
******************
* =header
******************
*/


header {
	overflow: hidden;
}

/*
******************
* =main
******************
*/
.main {
	margin-top: 20px;
}


.selected_btn
{
    border:1px solid blue;
    font-family:helvetica;
    color:blue !important;            
}

/*
******************
* =footer
******************
*/

footer {
	padding-top:60px;
	padding-bottom:60px;
	text-align:center;
	clear: both;
}

.fb {
	float: right;
	font-size: 28px;
	position:fixed;
    bottom:0px;
	left:5px
    width:100%;
    padding-top:1px;
    padding-bottom:1px;
    color:#ffffff;
	/*background-color:#336699;*/
}

.fb a:hover {
	color:#7e7e7e;
	text-decoration: none;
}
 
/*
******************
* =nav
******************
*/

nav {
	float: right;
	
}
nav li {
   display: inline;
   color:#ffffff;
   text-decoration: none;
   text-transform: uppercase;
   padding-right:20px;
   padding-bottom: 30px;
   border-right:1px dotted #6D7989;
   text-shadow:1px 1px 0 #FFF;
   font-weight:bold;
   font-size:20px;
}

nav a {
	color: #004d23;

}

nav a:hover, .selected {
	color:#7e7e7e;
	text-decoration: none;
}




